.Second {
  width: 100%;
  padding: 0 3%;
  margin: 100px 0;
  text-align: center;
  letter-spacing: 1.2px; }
  .Second img {
    width: 100%;
    height: auto; }
  .Second h1 {
    margin-bottom: 36px; }
  .Second p {
    font-weight: 300;
    font-size: 14px; }
  .Second .row {
    align-items: center; }
  .Second .icon {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
    filter: drop-shadow(4px 4px 5px #cdcdcd); }
    .Second .icon img {
      width: 100%;
      height: auto;
      border-radius: 50%;
      overflow: hidden; }
  .Second .small-feature {
    min-height: 205px;
    padding: 0 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0; }

@media (min-width: 580px) {
  .Second {
    width: 100%;
    padding: 0 15%;
    margin: 100px 0;
    text-align: left;
    letter-spacing: 1.5px; }
    .Second img {
      width: 100%;
      height: auto; }
    .Second p {
      font-weight: 300; }
    .Second .row {
      align-items: center;
      width: 100%; }
      .Second .row .col {
        padding: 0; }
    .Second .icon {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      overflow: hidden;
      filter: drop-shadow(4px 4px 5px #cdcdcd); }
      .Second .icon img {
        width: 100%;
        height: auto;
        border-radius: 50%;
        overflow: hidden; }
    .Second .small-feature {
      position: relative;
      min-height: 80px;
      margin: 10px 0; }
      .Second .small-feature__text {
        position: absolute;
        left: 80px;
        top: 0; }
      .Second .small-feature .icon {
        position: absolute;
        left: 0; } }

@media (min-width: 760px) {
  .Second .small-feature {
    margin: 30px 0;
    padding: 0; } }

@media (min-width: 1240px) {
  .Second {
    max-width: 1024px;
    padding: 0;
    margin: 100px auto;
    text-align: center; }
    .Second .small-features {
      max-width: 1024px;
      display: flex; }
    .Second .small-feature {
      display: flex;
      flex: 1;
      padding: 0 2%;
      margin: 50px 0;
      flex-direction: column; }
      .Second .small-feature__text {
        position: relative;
        left: unset;
        top: 0; }
      .Second .small-feature .icon {
        position: relative;
        left: 0;
        width: 100px;
        height: 100px;
        margin-bottom: 40px; } }
