.nav.navbar-nav.navbar-right li a[href="signin.html"],.nav.navbar-nav.navbar-right li a[href="signup.html"],.nav.navbar-nav.navbar-right li a[href="profile.html"] { display: none; }
footer{
  padding-top: 30px;padding-bottom: 30px;
}
.menu .dropdown-content a { color: black; }
.text-white { color: #ffffff; }
.text-center { text-align: center; }
.bg-blue{
  background-color: #33ccff;
}
.signup-btn { background-color: #009ace;border-color: #009ace; }
.chsr .dropdown li{
  margin-left: 28px;
}
.copyright-space { border-top: solid 1px rgba(255,255,255,0.2);margin-top: 40px; padding-top: 10px; }

.chsr .dropdown-menu{
  width: 290px;
}
.padding-top-15 {
  padding-top: 15px;
}

.padding-bottom-15 {
  padding-bottom: 15px;
}
@media (min-width: 576px) and (max-width: 767px){

  .chsr .navbar-brand img {
    height: 40px;
  }

}

.chsr.navbar-default {
  background: #33ccff;
  font-weight: bold;
}

.chsr.navbar {
  margin-bottom: 0;
  border-bottom: 0;
  border-color: #fff;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-radius: 0px;
}

.chsr.navbar-default .navbar-nav > li > a {
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    margin: 0 15px;
}
@media (min-width: 768px){
  .chsr.navbar-default .navbar-nav > li > a {
    border-bottom: 0 solid rgba(255, 255, 255, 0.6);
    margin: 0;
  }
  .chsr .navbar-nav {
    padding-top: 10px;
  }
  .nav.navbar-nav.navbar-right{ /*navbar右側對齊*/
  }
}
.chsr .navbar-nav > li > a:hover{
  text-decoration: underline;
}

.chsr.navbar-default .navbar-nav > .open > a, .chsr.navbar-default .navbar-nav > .open > a:focus, .chsr.navbar-default .navbar-nav >.open >a:hover {
    color: #555;
    background-color: #33ccff;
}

.chsr .navbar-right{
    margin-right: -6px;
}

.chsr .navbar-toggle{
    margin-right: 38px;
}
.chsr.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

.chsr.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #22bbee;
}

.chsr.navbar-default .navbar-toggle {
  border-color: #ffffff;
}

.chsr .navbar-collapse {
  -webkit-box-shadow: inset 0 0px 0 rgba(255,255,255,.1);
  box-shadow: inset 0 0px 0 rgba(255,255,255,.1);
}

.chsr.navbar-default .navbar-collapse {
    border-color: #000;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
}

.chsr .navbar-brand {
  padding: 0 0 15px 25px;
  color: #ffffff;
  font-size: 28px;
  font-family: Calibri;
  font-style: oblique;
  vertical-align: text-bottom;
}

.chsr .navbar-brand:hover {
  color: #ffffff;
}
.chsr .navbar-brand:active {
  color: #ffffff;
}

.chsr .navbar-brand img {
  display: inline;
  height: 50px;
  vertical-align: text-bottom;
}

.chsr .navbar-nav>li>.dropdown-menu {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

}
.footer-margin-bottom{
  margin-bottom: -300px;
}
