
@media (min-width: 1px) and (max-width: 767px){
  .row-level1{
      padding: 0 9px;
  }
}

@media (min-width: 768px) and (max-width: 991px){
}

@media (min-width: 992px) and (max-width: 1200px){
}

@media (min-width: 1201px) {
}

.row-level1 {
    margin: 20px 0;
    display: flex;
    flex-flow: row wrap-reverse;
}

.left-box{
    display: flex;
    flex-direction: column;
}

.img-phone-box{
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 300px;
}

select.no-radius{
    border: none;
    height: 40px;
    width: 100%;
    background-color: #fff;
}

.select-wrapper{
    border: 1px solid #cccccc;
    border-radius: 0px 4px 4px 0;
}

.text-intro-box{
    display: flex;
    justify-content: center;
    padding-left: 15px;
}

.fa-handshake-box {
    display: flex;
    width: 75px;
    height: 75px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #33CCFF;
}

.chsr .fa-handshake-o{
    margin: 5px;
    color: white;
}

.chsr .form-group {
    padding-bottom: 10px;
}

.chsr input.form-control{
    height: 40px;
    padding:10px 8px;
}

.chsr textarea.form-control{
    height: 100px;
    padding:10px 8px;
}
