[name="link"], [name="link"]:hover, [name="link"]:visited, [name="link"]:active, [name="link"]:link {
  text-decoration: none;
  color: #33CCFF;
  font-weight: bold;
}
.spacing {
  padding-left: 30%;
  padding-right: 30%;
}
