#about, #intro, #feature, #pricing, #overview, #logos, #video { padding-top: 30px;padding-bottom: 50px; }


.bg-light-grey { background-color: #f9f9f9; }
.bg-white { background-color: white; }
.margin-btm-80 { margin-bottom: 80px; }
.margin-btm-40 { margin-bottom: 40px; }
.margin-btm-0 { margin-bottom: 0px; }
.margin-top-80 { margin-top: 80px; }
.margin-top-20 { margin-top: 20px; }
.margin-top-100 { margin-top: 100px; }
.margin-top-50 { margin-top: 50px; }
.margin-top-60 { margin-top: 60px; }
.margin-top15-btm50 { margin-top: 15px;margin-bottom: 50px; }
.padding-left0-right80 { padding-left: 0px;padding-right: 80px; }
.padding-top-btm-10 { padding: 10px 0; }
.padding-0-80 { padding: 0 80px; }
.padding-100-0 { padding: 100px 0px; }
.padding-left-25 { padding-left: 25px; }
.text-uppercase-bold { text-transform: uppercase;font-weight: 600; }
.link-style { font-size: 2.5em; color: white;padding-left: 5px; padding-right: 20px; margin-bottom: 25px; margin-right: 25px;}
.link-style3 { font-size: 3.3em; color: white;margin-left: -4px; padding-right: 20px; margin-top: -4px; margin-bottom: 25px; margin-right: 25px;}
h1 { font-size: 28px; }
hr { margin: 0px; }
a:hover { text-decoration: none; }


.col-sm-4.col-md-4 p { font-size: 16px; }
/*HEADER*/
.logo {
  background-color: #33CCFF;
  position: absolute;
  top: -75px;
  z-index: 100;
}
.logo img {
  width: 62px;
  height: 61px;
}
.menu {
  position: absolute;
  top: -55px;
  text-align: left;
  width: 100%;
  padding-left: 90px;
}
.menu a { color: rgb(255,255,255);margin-right: 20px;font-weight: bold;font-size: 16px; }

.main-title {
  margin-bottom: 20px;
  font-weight:bold;
 }
.text-left { text-align: left; }
.signup-btn:hover { color: #ffffff; }
.fb-icon {
  background-image: url(https://static.whatshelp.io/img/ic_fbmessenger_white.svg);
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  width: 30px;height: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
  color: white;
}
.overview-padding-0 { padding-bottom: 0px; }
.overview-top-120 { padding-top: 120px; }
.overview-title-style { margin-top: 0;margin-bottom: 20px;text-align: center;}
.font-17 { font-size: 17.5px; }
.bold-and-blue { font-weight: bold;color: #33CCFF; }
/*LOGIN/REGISTER*/
.dropdown { position: relative;display: inline-block; }
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  color: black;
  top: 25px;
  right: 0;
}
.control-label { float: left; }
/*VIDEO*/
.video-block { background-color: #f9f9f9;padding-bottom: 100px; }
.video-image-style { width: 100%; height: auto; box-shadow: 0 0 0 1px #dbe0e3; }
/*OVERVIEW*/
#overview .item-icon.wh-icon, #about .item-icon.wh-icon, #intro .item-icon.wh-icon, #feature .item-icon.wh-icon.wh-icon3 {
  width: 75px;height: 75px;
  padding-top: 20px;margin: 0 0;
  border-radius: 50%;border: 0;
  background-color: #33CCFF;
  padding-left: 19px;
}
/*LOGOS*/
.logo-image-width-100 { width: 100px; }
.customer-quote { font-size: 16px;font-weight: 300;margin-bottom: 20px; }
.story-style { text-align: center;margin-top: 20px; }
.col-sm-3.text-center img {
  width: 160px;
  height: 160px;
  margin-bottom: 20px;
}
/*FOOTER*/
.copyright-space p { text-align: center;font-size: 16px;}
/*FEATURE*/
#feature .item-icon { border: 2px solid #33CCFF;color: #33CCFF; }
#feature .item-icon {
  width: 50px;height: 50px;
  padding-top: 10px;margin: 40px 0 0 0;
  border-radius: 50%;border-color: #33CCFF;
  text-align: center;
}

/*SIGNUP SIGNIN*/
.signin-logo img, .signup-logo img { width: 62px;height: 61px; }
.form-content { border: 1px solid #e5e5e5; background-color: #ffffff; border-radius: 15px; box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
.padding-left-right { padding: 0 50px; }
.login-title, .signup-title { line-height: 300%; }
.forget-password { line-height: 200%; }
.top-blue-down-white { background: linear-gradient(#33CCFF, #ffffff); }
.forget-password [href="signup.html"], .forget-password [href="signin.html"] { display: inline-block; }
.forget-password a { color: #33CCFF; }
.margin-top-0 {
  margin-top: 0pxm;
}

.padding-top-2 {
  padding-top: 2em;
}

.padding-bottom-2 {
  padding-bottom: 2em;
}



.padding-left-15 {
  padding-left: 15px;
}

.padding-right-15 {
  padding-right: 15px;
}

.padding-left-30 {
  padding-left: 30px;
}

.padding-left-40 {
  padding-left: 40px;
}

.padding-left-70 {
  padding-left: 70px;
}

.padding-right-30 {
  padding-right: 30px;
}
#feature h3 { color: #33CCFF;font-weight: 300; }

.chsr .nav {
  padding-top: 10px;
}
.table-font{
  font-size: 20px;
}

@media (min-width: 1px) and (max-width: 157px){
  .hidden-xxxxxs {
    display: none !important;
  }
  .chsr .dropdown-menu{
    color: #ffffff;
  }
}

@media (min-width: 158px) and (max-width: 251px){
  .hidden-xxxxs {
    display: none !important;
  }
  .chsr .dropdown-menu{
    color: #ffffff;
  }
}

@media (min-width: 252px) and (max-width: 391px){
  .hidden-xxxs {
    display: none !important;
  }
  .lead-xxxs {
    font-size: 0.8em;
  }

  .chsr .dropdown-menu{
    color: #ffffff;
  }
  .table-font{
    font-size: 10px;
  }
}

@media (min-width: 392px) and (max-width: 575px){
  .hidden-xxs {
    display: none !important;
  }
  .chsr .main-title{
    font-size: 1.75em;
  }
  .chsr .lead{
    font-size: 1.2em;
  }
  .chsr .dropdown-menu{
    color: #ffffff;
  }
  .table-font{
    font-size: 15px;
  }
}

@media (min-width: 576px) and (max-width: 767px){
  .hidden-xs {
    display: none !important;
  }
  .chsr .dropdown-menu{
    color: #ffffff;
  }
}


@media (min-width: 768px){
  .main-title{
    font-size: 1.7em;
  }
  .chsr .lead{
    font-size: 1.3em;
  }

}

@media (min-width:992px){
  h3 { font-size: 20px; }
  .menu { padding-left: 0px;width: 116%; }
  .col-sm-12.col-md-6.div-wh-img-wrapper img {
    width: 80%;
  }
}


@media (min-width: 1200px){
  #about, #intro, #feature, #pricing, #overview, #logos, #video, #footer { padding-top: 100px;padding-bottom: 100px;}
  h1 { font-size: 2em; }
  .font-17 { font-size: 17.5px; }
  .margin-top-80 { margin-top: 80px; }
  .menu {
    position: absolute;
    top: -55px;
    text-align: left;
    width: 100%;
    padding-left: 60px;
  }

  .lead {
    margin-bottom: 20px;
    font-weight: 300;
    line-height: 1.4;
  }
  .overview-title-style { margin-top: 20px;text-align: center;margin-bottom: 80px; }
  .copyright-space p { text-align: center;font-size: 16px; }
  .customer-quote { font-size: 21px;font-weight: 300;margin-bottom: 20px; }
  .col-sm-12.col-sm-12.col-md-12 .row { margin-right: -15px;margin-left: -15px; }
}


.bg-s1 {
  background: #33ccff;
  border-color: #fff;
  border-style: solid;
  border-width: 0px 1px 1px 1px;
  border-radius: 0px;
  color: #fff;
}

.corps {
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.chsr.img-responsive{
  display: inline-block;
  max-width: 80%;
}

.dropdown .user{
  width: 18px;
  height: 18px;
}

.chsr .dropdown li{
  margin-left: 28px;
}

.chsr .dropdown .divider{
  margin-left: 0px;
}

.chsr .dropdown .arrow-up{
  position: absolute;
  top: 42px;
  z-index: 1002;
  right: 23px;
}

.chsr .dropdown .arrow-up.black{
  position: absolute;
  top: 41px;
  z-index: 1001;
}




.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  padding: 0px;
  border-bottom: 10px solid #ffffff;
  margin-bottom: -2px;
}

.arrow-up.black{
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  padding: 0px;
  border-bottom: 10px solid rgba(0, 0, 0, .5);
}

.clear-both{
  clear: both;
}
.fll{
  width:auto;
  height: auto;
  float: left;
    font-size: 20px;
    margin-left:  50px;
  /*border: 3px solid green ;*/
}
.flr{
  width:110px;
  height: auto;
  float: right;
  vertical-align: top;
  font-size: 20px;
  margin-right: 20px;
/*  border: 3px solid blue ;*/
}
.price-box{
  width: 500px;
  height: 200px;
  margin: 20px auto 0px auto;
  vertical-align: top;
}
.font-30{
  font-size: 30px;
}
.big-title{
  font-weight:bold;
  font-size: 25px;
}

.margin-table{
  margin-left: 150px;
}
.chsr.table>tbody>tr>td, .chsr.table>tbody>tr>th, .chsr.table>tfoot>tr>td, .chsr.table>tfoot>tr>th, .chsr.table>thead>tr>td, .chsr.table>thead>tr>th {
     /*border-top: 0px solid #000000;*/
}
.flexbox{
display: inline-flex;
flex-grow;
}
.image-margin{
  margin-top: -10px;
}
