.Forth {
  width: 100%;
  padding: 0 3%;
  margin: 200px 0;
  text-align: center;
  letter-spacing: 1.2px; }
  .Forth h1 {
    margin-bottom: 36px; }
  .Forth .logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }

@media (min-width: 700px) {
  .Forth .logos {
    justify-content: space-between; } }

@media (min-width: 1024px) {
  .Forth .logos {
    max-width: 1024px;
    margin: auto; } }
