.First {
  width: 100%;
  min-height: 450px;
  padding: 40% 3%;
  text-align: center;
  letter-spacing: 1px;
  background-color: #f4f4f4;
  position: relative; }
  .First .btndesktopShow {
    display: none; }
  .First .btndesktopHide {
    display: block;
    margin: auto; }
  .First img {
    width: 100%;
    height: auto; }
  .First .container {
    padding-top: 30%; }
  .First p {
    font-weight: 300; }
  .First .row {
    align-items: center; }
  .First Button {
    position: relative;
    margin-left: 15px; }

@media (min-width: 580px) {
  .First {
    padding: 0 15%;
    margin: 100px 0;
    text-align: left;
    letter-spacing: 1.5px; }
    .First img {
      width: 100%;
      height: auto; }
    .First p {
      font-weight: 300; }
    .First .row {
      align-items: center; } }

@media (min-width: 760px) {
  .First {
    padding: 0 5%;
    margin: 0;
    text-align: left;
    letter-spacing: 1.5px; }
    .First img {
      width: 100%;
      height: auto; }
    .First p {
      font-weight: 300; }
    .First .row {
      align-items: center;
      width: 100%; }
    .First .btndesktopShow {
      display: block;
      margin-left: 0; }
    .First .btndesktopHide {
      display: none; } }

@media (min-width: 1240px) {
  .First .container {
    max-width: 1024px;
    padding: 20% 0 10% 0;
    box-sizing: border-box; } }
