.First {
    width: 100%;
    min-height: 450px;
    padding: 50% 3%;
    text-align: center;
    letter-spacing: 1px;
    background-color: #f4f4f4;
    position: relative;
    
    .desktopShow {
        display: none;
    }

    .desktopHide {
        display: block;
        margin: auto;
    }

    img {
        width: 100%;
        height: auto;
    }
    .container {
        padding-top: 30%;
    }
    p {
        font-weight: 300;
    }

    .row {
        align-items: center;
    }

    Button {
        position: relative;
        margin-left: 15px;
    }
}

@media (min-width: 580px) {
    .First {
        padding: 0 15%;
        margin: 100px 0;
        text-align: left;
        letter-spacing: 1.5px;
    
        img {
            width: 100%;
            height: auto;
        }
    
        p {
            font-weight: 300;
        }
    
        .row {
            align-items: center;
        }
    }
}

@media (min-width: 760px) {
    .First {
        padding: 0 5%;
        margin: 0;
        text-align: left;
        letter-spacing: 1.5px;
    
        img {
            width: 100%;
            height: auto;
        }
    
        p {
            font-weight: 300;
        }
    
        .row {
            align-items: center;
        }
    }
}

@media (min-width: 1240px) {
    .First {
        .container {
            max-width: 1024px;
            padding: 20% 0 10% 0;
            box-sizing: border-box;
        }
        .desktopShow {
            display: block;
            margin-left: 0;
        }
    
        .desktopHide {
            display: none;
        }
    }
}