.Toolbar {
    width: 100%;
    padding: 0 1%;
    transition: all .2s ease-in-out;

    &:hover {
        transition: all .2s ease-in-out;
    }
}

@media (min-width: 580px) {
    .Toolbar {
        padding: 0 15%;
    }
}

@media (min-width: 760px) {
    .Toolbar {
        padding: 0 5%;
    }
}

@media (min-width: 1240px) {
    .Toolbar {
        max-width: 1024px;
        margin: auto;
        padding: 0;
    }
}