.fbicon {
    position: fixed;
    right: 15px;
    bottom: 90px;
    margin: 0;
    padding: 0;
    z-index: 1000;
}

.lineicon {
    position: fixed;
    right: 15px;
    bottom: 30px;
    margin: 0;
    padding: 0;
    z-index: 1000;
}

.fbicon img,
.lineicon img {
    width: 48px;
    height: 48px;
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
   filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.7))
}
