.ProductFeatures {
  text-align: center;
  letter-spacing: 1.2px;
  padding: 10% 0%;
  margin: 20px 0;
  border-radius: 4px;
  background-color: #f4f4f4; }
  .ProductFeatures .content {
    padding: 0 10%; }
    .ProductFeatures .content p {
      font-weight: 300; }
    .ProductFeatures .content ul {
      list-style: none;
      padding: 0;
      font-weight: 300;
      letter-spacing: 1px;
      font-size: 14px;
      margin-bottom: 20px; }
      .ProductFeatures .content ul li {
        text-align: left; }
      .ProductFeatures .content ul li:before {
        content: ' <3 ';
        margin-left: 0px; }
  .ProductFeatures .button-case {
    position: relative;
    width: 100%;
    margin: 20px 0;
    min-height: 40px; }
  .ProductFeatures Button {
    right: 10%;
    position: absolute; }
  .ProductFeatures .mockups {
    position: relative;
    width: 100%;
    min-height: 195px;
    margin-top: 20px; }
    .ProductFeatures .mockups .desktop {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0; }
    .ProductFeatures .mockups .mob {
      position: absolute;
      bottom: -20px;
      right: 60px; }

p {
  font-size: 14px; }
