.Header {
    ul {
        padding: 1% 0;
        box-sizing: border-box;
    }
    .navbar-brand {
        font-weight: 500;
        letter-spacing: 1px;
        font-size: 1.5rem;
        color: rgb(79, 79, 79) !important;
    }
    li {
        letter-spacing: 1.2px;
        transition: all .3s ease-in-out;
        box-sizing: border-box;
        border-bottom: 2px solid transparent;
    }

    li:hover,
    li:active {
        border-bottom: 2px solid black;
        
    }
    .hidden {
        display: none;
    }
    #chat {
        padding: 0px 12px;
        text-align: center;
        font-weight: bold;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, .85);
        margin-left: 10px;
        border-bottom: none;
    }

    #chat:hover {
        background-color: aliceblue;
        box-shadow: 1px 3px 15px #dadada;
        transform: translateY(5%);

        a {
            border-bottom: none;
        }
    }
}

@media (min-width: 1240px) {
    .Header {
        max-width: 1024px;
        margin: auto;
        padding: 0;
    }
}