.Header ul {
  padding: 1% 0;
  box-sizing: border-box; }

.Header .navbar-brand {
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1.5rem;
  color: #4f4f4f !important; }

.Header li {
  align-self: center;
  letter-spacing: 1.2px;
  transition: all .3s ease-in-out;
  box-sizing: border-box;
  border-bottom: 2px solid transparent; }

.Header li:hover,
.Header li:active {
  border-bottom: 2px solid black; }

.Header .hidden {
  display: none; }

.Header #chat {
  padding: 0px 12px;
  text-align: center;
  font-weight: bold;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.85);
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: none; }

.Header #chat:hover {
  background-color: aliceblue;
  box-shadow: 1px 3px 15px #dadada;
  transform: translateY(5%); }
  .Header #chat:hover a {
    border-bottom: none; }

@media (min-width: 1240px) {
  .Header {
    max-width: 1024px;
    margin: auto;
    padding: 0; }
    .Header__userAvatar {
      width: 32px;
      height: 32px;
      background-color: #fff;
      border-radius: 50%; }
      .Header__userAvatar img {
        width: 100%;
        height: auto;
        border-radius: 50%; }
    .Header #Header__userAvatar {
      border: 0; }
    .Header #Header__userAvatar:hover {
      border: 0;
      cursor: pointer; }
    .Header #dropdownMenu {
      font-weight: 300; }
      .Header #dropdownMenu button {
        letter-spacing: 1.2px;
        font-size: .8rem; }
      .Header #dropdownMenu.show {
        transform: translate3d(0px, 50px, 0px) !important; } }
