.Header ul {
  padding: 1% 0;
  box-sizing: border-box; }

.Header li {
  letter-spacing: 1.2px;
  transition: all .3s ease-in-out;
  box-sizing: border-box;
  border-bottom: 2px solid transparent; }

.Header li:hover,
.Header li:active {
  border-bottom: 2px solid black; }

@media (min-width: 1240px) {
  .Header {
    max-width: 1024px;
    margin: auto;
    padding: 0; } }
