/*
/ Author: Lacne
/ Date: 2017/06/30
/ Version: 1
/ Modify: blog css樣式彙整
*/
/*
/ Author: Lacne
/ Date: 2017/07/03.04
/ Version: 2
/ Modify: 1024介面完成
*/
/*
/ Author: Lacne
/ Date: 2017/07/05.06
/ Version: 3
/ Modify: RWD完成
*/
/*size*/
p{
  font-size:16px
}
/*maggie's css*/
#sidebar{
margin-top:100px;/*lance20170630*/
font-size: 16px;/*lance20170704*/
line-height: 150%;/*lance20170704*/

}
#blogcontent{
  margin-top:100px
}
#main .container .row .col-sm-9{
  margin-top:100px;/*lance20170630*/
}
#article-x footer h4 a{
	color:white;
	font-weight:bold
}
#article-x footer p a{
	color:white;
	font-weight:bold
}

/*==================================================Luke's css=====================*/
*{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
body{
  font-family: Microsoft JhengHei;

}
hr{
  border: 2px solid #33ccff;
}
#top{
  width: 100%;
  height:30px;
  background-color: white;
}
#header{
  margin-top:0px;
  height:100px;
  border-bottom:1px solid #33CCFF;
  background-color: white;
}
#logo{
  margin-left: 200px;
}
#logo img{
  width:80px;
  height:80px;
}
#social{
  margin-left: 1000px;
}
#logo-title{
  margin-top: 109px;
  text-align: center;
}
#logo-title img{
  margin-bottom: 20px;
  width:150px;
  height:150px;
}
#logo-title p{
  margin-bottom: 20px;
}
#aside-title{
  margin-top: 20px;
}
#aside ul li{
  margin-top: 10px;
  height:30px;
  line-height: 30px;

}
#aside ul li:hover{
  margin-top: 10px;
  height:30px;
  line-height: 30px;
  color:#33CCFF;
}
.navside{
  color:black;
  margin-left: 20px;
}
#aside2{
  color:black;
}
#aside4-button{
  background-color:#33CCFF;
  color:white;
  padding: 5px;
  border-radius: 5px;
}
#article div{
  background-color:#33CCFF;
  color:white;
}
#article header{
  font-size: 36px;
  padding-top:2%;
  padding-bottom:2%;
  border-bottom: 2px dotted whitesmoke;/*lance20170704*/
  text-align: center;
}
#article header a{
  color:white;
  font-size:16px;
  letter-spacing: 1px;
  text-align: center;
}
#article footer{
  padding: 30px;/*lance20170630*/

}
#article footer p {
  font-size: 20px;
}
#article header strong {
  color:white;
}
#article-box{
  padding-left: 70%;
  padding-bottom: 20px;
  margin-bottom:50px;
}
#article-box div{
  margin-top: 30px;
}
#readmore a{
  background-color: white;
  color:#33CCFF;
  padding:5px;
  border-radius: 5px;
}
#navbottom {
  text-align: center;
  margin-top: 50px;
  color:white;
}
#navbottom a{
  width:30px;
  height:30px;
  background-color: #33CCFF;
  text-align: center;
  margin-top: 20px;
  color:white;
  border-radius: 5px;
  padding: 10px;

}
/*#footer{
  width:100%;
  background-color: #33CCFF;
  margin-top: 50px;
  text-align: center;
  height:100px;
  line-height: 50px;
  color:white;
}*/


@media screen and (min-width: 600px) and (max-width:800px){
  #blogcontent{
    margin-top:90px
  }
  #main .container .row .col-sm-9{
    margin-top:87px; /*lance20170630*/
  }
	#main .container .row{
		/*margin-top:65px; lance20170630*/
	}

}
@media screen and (max-width:767px){
  #sidebar{
    margin-top:0px
  }
    .hr-mia {
    display: none;/* lance20170630 */
  }
}
@media screen and (max-width:600px){
	#blogcontent{
		margin-top:40px
	}

	#main .container .row .col-sm-9{
		margin-top:95px
	}
  p{
    font-size:16px
  }
  #article-box{
    padding-left: 50%;
  }
}
@media screen and (max-width: 500px) {
  #article header{
    font-size: 30px; /*lance20170630*/
    padding: 10px; /*lance20170630*/
  }
  #article footer{
    font-size:20px;
    padding:2% 15px 2% 15px;
    /*padding-left:15%; lance20170630*/
  }
}

@media screen and (max-width: 414px) {
  #article header {
    /*padding-left: 0;*/
  }
}
