.pseudo-nav {
	height: 90px;
}

.tc {
	padding-left: 45px;
	padding-right: 45px;
}


.section {
	margin-top: 40px;
}
h2.title {
	font-family: "Hiragino Sans GB", "STHeiti", "Microsoft Yahei", sans-serif;
	font-weight: 600;
	line-height: 2;
}

h5.price {
	font-family: "Hiragino Sans GB", "STHeiti", "Microsoft Yahei", sans-serif;
	font-weight: 600;
	line-height: 2;
	margin-bottom: 40px;
}
.button-secondary-f{
	color: #fff;
	background: #33ccff;
	border: 2px solid #33ccff;
}


.button-secondary-p, .button-secondary-e{
	background: #fff;
	color: #000;
    border: 2px solid #000;
}

.button-secondary-f, .button-secondary-p, .button-secondary-e{
    transition: .3s border ease-in-out, .3s color ease-in-out, .3s background ease-in-out;
}

.button-secondary {
	display: inline-block;
    font-family: "Gotham_SSm_5r", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: normal;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    padding: 16px 16px 15px;
    -webkit-font-smoothing: antialiased;
    padding-top: 13px;
    padding-bottom: 11px;
    display: block;
    line-height: 20px;
}

.button-secondary:visited, .button-secondary:active {
	text-decoration: none;
}

.button-secondary-f:hover {
	color: #fff;
    border: 2px solid #33ccff;
	text-decoration: none;
	background: #22bbee;
    border: 2px solid #22bbee;

}

.button-secondary-p:hover, .button-secondary-e:hover {
    color: #33ccff;
    border: 2px solid #33ccff;
	text-decoration: none;

}


.image {
	width: 240px;
}

.ul-s {
	padding-left: 0px;

}

.more {
	color: #000;
	text-decoration: none;
	border-bottom: 2px solid #33ccff;
	transition: .2s border ease-in-out, .2s color ease-in-out , .2s background ease-in-out;
}

.more:visited, .more:active, .more:hover {
	text-decoration: none;
	color: #33ccff;
}


.li-s {
	list-style-type: none;
	padding: 12px 0 10px;
    border-bottom: 1px solid #eee;
}

.links .li-s:first-child {
	padding: 22px 0 30px;
}
