#answerQuestion4,#answerQuestion5,#answerQuestion6,#answerQuestion7,#answerQuestion8,#answerQuestion9,#answerQuestion10,#answerQuestion11,#answerQuestion12,#answerQuestion13,#answerQuestion14,#answerQuestion15{display:none}
table{border-collapse:collapse;width:100%;}
td, th{padding:8px;}
.price-details{padding:20px 0;height:1276px}
.price-holder{margin:0 0 147px;display:block;}
.price-table{text-align:center;}
table{border-collapse:collapse;border-spacing:0;}
.price-table th{font-size:30px;line-height:40px;padding:15px 10px;vertical-align:bottom;font-weight:700;border-bottom:solid 4px #33CCFF;text-align:center;height:93px;}
.price-table th span{font-size:20px;}
.price-table th:first-child{text-align:left;}
.price-table th .img{display:block;text-align:center;margin:0 0 15px 0;}
.pricr-table tr{vertical-align:middle;}
.price-table td{font-size:23px;line-height:24px;vertical-align:middle;border-bottom:solid 2px #33CCFF;padding:20px 10px;height:93px;}
.price-table td:first-child{text-align:left;}
.price-table tbody tr:last-child td:first-child{position:relative;}
.price-table tbody:last-child tr:last-child td:first-child:after{border:0;}
.price-table tbody tr:last-child td{border-bottom:none;}
.price-table tbody:last-child tr:last-child{border-bottom:4px solid #33CCFF;}
.overlay{background:transparent;position:relative;width:100%;height:480px;top:480px;margin-top:-480px;}
body{font-family:Microsoft JhengHei;}
p{font-size:16px;}
h1{font-size:80px;}
.PrTopImage{padding-top:250px;background-image:url(../images/set.jpg);border:0.1px solid transparent;background-size:cover}
.PrTopImage #appletree{color:white;margin-bottom:183px;font-weight:bold;font-size:52px;padding-top:20px;}
#PrImageHead{font-size:52px;margin-right:0%;font-weight:bold}
.PrImage p{color:white;font-weight:bold;font-size:24px}
#appletree h2{font-size:60px;margin-top:10px;margin-bottom:20px;}
#appletree p{font-size:24px;}
#appletree a{font-size:24px}
#PrPointer{background-color:#33ccff;height:100px}
#shortTableContainer{margin-left:auto;margin-right:auto;height:507px;width:1200px;}
#PrBox2 a{font-size:24px}
#PrBox3 a{font-size:24px}
#PrBox4 a{font-size:24px}
#PrMostPop{color:black;font-size:32px}
#PrBox11 img{margin-top:68px;width:65%;}
#PrBox11{float:left;width:18%;color:white;margin-top:69px}
#PrBox22{border:3px #b6bac1 solid;float:left;color:black;margin-top:67px;background-color:white;text-align:center}
#PrBox22,#PrBox33,#PrBox44{padding:22px 5px;}
#PrBox33{border:3px #b6bac1 solid;margin-left:25px;float:left;color:black;margin-top:67px;background-color:white;text-align:center;box-shadow:15px 12px 8px #888888;}
#PrBox44{border:3px #b6bac1 solid;margin-left:25px;float:left;color:black;margin-top:67px;background-color:white;text-align:center}
#PrBox22 h2,#PrBox33 h2,#PrBox44 h2{font-weight:bold;}
#PrBox22 h2 span,#PrBox33 h2 span,#PrBox44 h2 span{font-weight:bold;font-size:20px;}
#PrBox22 a{font-size:24px}
#PrBox33 a{font-size:24px}
#PrBox44 a{font-size:24px}
.fa-star{color:#f1f442}
#Pr1line{text-align:center;margin-top:50px;margin-bottom:50px;font-size:52px}
#featuresBox{height:300px;margin-bottom:50px;background-color:#33ccff}
#featuresBox section .col-12{font-size:36px;height:157px;padding-top:40px;color:white;text-align:center}
#featuresBox section{margin-left:20px;margin-right:20px;height:100px;color:white;text-align:center;}
#featuresBox section p{padding-top:30px;float:left;font-size:22px;}
.parallax{background-image:url("../images/set.jpg");min-height:500px;background-attachment:fixed;background-position:center;background-repeat:no-repeat;background-size:cover;margin-top:30px;}
.transbox2{border:1px solid transparent;opacity:0.7;}
#PrParallax{background-color:black;margin-top:150px;color:white;height:200px}
#PrParallaxLeft .col-3,.col-9{float:left}
.img-circle{margin-top:20px;margin-left:73px;width:50%}
#PrParallaxLeft .col-9 p:first-child{margin-top:20px}
#PrCommonHead{text-align:center;font-size:52px;margin-top:50px;margin-bottom:50px}
#PrCommonMainDiv{float:left;padding:2%;text-align:left;font-size:24px;}
#PrCommonMainDiv p{font-size:20px;}
.procommon-text{text-align:center;font-weight:500;font-size:40px;}
.PrTrial div{color:white;font-size:50px;border:2px white solid;float:left}
#Pricing1{background-color:#33ccff;height:250px}
#PricingBox{padding-top:130px;padding-bottom:30px;height:446px;background-color:#33ccff;}
#RealTable1{margin-left:425px;float:left;width:63%;height:196px;border:white 3px solid;background-color:white;}
#RealTable2{margin-left:279px;float:left;width:63%;height:196px;border:white 3px solid;background-color:white;}
#RealTable3{float:right;width:63%;height:196px;border:white 3px solid;background-color:white;}
#month{font-size:20px}
#RealTablePrice{font-size:40px}
.RealPricingButton{color:#777;font-size:11px;line-height:17px;text-align:center;padding:0 20px 19px;margin-top:35px;}
#PricingImage{float:left}
#PricingBox1{background-color:white;margin-left:2%;width:20%;height:200px;float:left;border:grey 3px solid}
#PricingLine{font-size:51px;text-align:center;margin:55px;}
#PricingAnotherBox{height:400px;background-color:#33ccff}
#PrAnotherBox{text-align:center;padding-top:50px;color:white;}
#PrAsk{border:1px solid grey;height:100px;padding:20px;}
td{font-size:24px}
.fa-check{color:#33ccff}
.fa-times{color:black}
#TableColomn1{width:518px}
#TableColomn2{width:22%}
#TableColomn3{width:12%}
#TableColomn4{padding-left:109px}
#tooltip{position:absolute;display:inline-block;border-bottom:1px dotted black;font-size:18px;}
#tooltip #tooltiptext{visibility:hidden;width:120px;background-color:black;color:#fff;text-align:center;border-radius:6px;padding:5px 0;position:absolute;z-index:1;bottom:100%;left:50%;margin-left:-60px;}
#tooltip:hover #tooltiptext{visibility:visible;color:white;background-color:#33ccff}
#tooltip #tooltiptext2{visibility:hidden;width:120px;background-color:black;color:#fff;text-align:center;border-radius:6px;padding:5px 0;position:absolute;z-index:1;bottom:100%;left:50%;margin-left:-60px;}
#tooltip:hover #tooltiptext2{visibility:visible;color:black;background-color:white}
#PrButton{font-size:20px;padding:2px 10px;}
.banner-text{text-align:center;margin:60px 0 50px 0;}
#PrDesc{font-size:22px;}
.doit{padding-right:11px;font-size:20px;}
*{box-sizing:border-box;}
.col-1{width:8.33%;}
.col-2{width:16.66%;}
.col-3{width:25%;}
.col-4{width:33.33%;}
.col-5{width:41.66%;}
.col-6{width:50%;}
.col-7{width:58.33%;}
.col-8{width:66.66%;}
.col-9{width:75%;}
.col-10{width:83.33%;}
.col-11{width:91.66%;}
.col-12{width:100%;}
@media only screen and (min-width:1031px) and (max-width:1200px){.videotitle{line-height:normal;height:350px;}
}
@media only screen and (min-width:769px) and (max-width:1030px){.col-m-1{width:8.33%;}
.col-m-2{width:16.66%;}
.col-m-3{width:25%;}
.col-m-4{width:33.33%;}
.col-m-5{width:41.66%;}
.col-m-6{width:50%;}
.col-m-7{width:58.33%;}
.col-m-8{width:66.66%;}
.col-m-9{width:75%;}
.col-m-10{width:83.33%;}
.col-m-11{width:91.66%;}
.col-m-12{width:100%;}
body, .PrTopImage, .parallax{width:1030px;}
p{font-size:23px}
#pricingpack2-caption, #contact-caption{font-size:51px;text-align:center;}
#price-caption{font-size:51px;text-align:center;}
.PrTopImage #appletree{margin-top:107px;}
.PrTopImage #appletree{}
.PrTopImage #appletree h2{font-size:50px;margin-top:10px;margin-bottom:20px;}
.PrTopImage{background-color:#00253d;height:478px;padding-top:0px}
.price-table th{font-size:30px;}
.price-table th span{font-size:20px;}
.price-table-header tr th h2{font-size:25px;line-height:150%;margin:0px;padding-bottom:5px;}
#PrBox22 p:first-child{font-weight:bold;font-size:30px}
#PrBox2Price{font-weight:bold;font-size:30px}
#PrBox33 p:first-child{font-weight:bold;font-size:30px}
#PrBox44 p:first-child{font-weight:bold;font-size:30px}
#tooltip #tooltiptext{color:white;}
#featuresBox{}
#featuresBox section .col-12{height:154px}
#PrFeatures{padding:1%;height:466px}
#PrFeatures header{height:211px}
#featuresBox section p{}
.img-circle{margin-top:52px;margin-left:37px;width:63%;}
#PrParallax{height:225px}
.doit{font-size:20px;padding-right:11px;}
}
@media only screen and (max-width:1000px){#PrBox22,#PrBox33,#PrBox44{margin-top:100px;}
#PrBox22 a,#PrBox33 a,#PrBox44 a{font-size:18px;}
#featuresBox section p{font-size:18px;padding-right:2px;}
}
@media only screen and (max-width:768px){[class*="col-"]{width:100%;}
body, .PrTopImage, .parallax{width:768px;}
p{font-size:23px}
p{font-size:30px;}
#featuresBox section .col-12{height:134px;font-size:33px}
.PrTopImage{background-image:none;background-color:#00253d;padding-top:100px;text-align:center;height:432px}
#appletree{text-align:left;padding-left:200px;}
#appletree h2{font-size:50px;}
#appletree a{display:none;}
.PrTopImage #appletree{margin-bottom:79px}
#PrImageHead{font-size:40px;}
.price-details .price-table,.price-details .price-note,.price-details .btn-holder{display:none;}
.price-details{display:none}
#PrBox11 img{display:none}
#PrBox22{margin-top:0px}
#PrBox22 p:first-child{font-weight:bold}
#PrBox33{margin-top:0px;box-shadow:none;margin-left:0px}
#PrBox33 p:first-child{font-weight:bold}
#PrBox44{margin-top:0px;margin-left:0px}
#PrBox44 p:first-child{font-weight:bold;}
#PrParallax{background-color:#00253d;margin-top:0px;height:450px;font-size:24px;padding:30px}
.img-circle{width:20%;}
.transbox2{border:none;opacity:1;}
.parallax{background-image:none;min-height:0px}
.parallax .col-9 p{text-align:center}
#PrParallaxLeft .col-3, .col-9{text-align:center;padding:0 50px;}
.img-circle{margin-left:0px}
#Pr1line{font-size:30px;padding:2px}
#PrFeatures header{padding:2px;padding-top:40px;text-align:center;height:157px;color:white}
#featuresBox{height:680px;text-align:center}
#featuresBox section p{font-size:20px;}
#PrCommonMainDiv{margin-bottom:44px}
#PrCommonBox{padding:0 40px;}
#PrParallaxLeft div h2{font-size:25px;}
}
@media only screen and (max-width:736px){body, .PrTopImage, .parallax{width:736px;}
[class*="col-"]{width:100%;}
p{font-size:20px}
.PrTopImage{padding-top:109px}
#appletree a{display:none;}
.PrTopImage #appletree{margin-bottom:79px}
#PrImageHead{font-size:40px;}
#PrBox11 img{display:none}
#PrBox22{margin-top:0px}
#PrBox22 p:first-child{font-weight:bold}
#PrBox33{margin-top:0px;box-shadow:none;margin-left:0px}
#PrBox33 p:first-child{font-weight:bold}
#PrBox44{margin-top:0px;margin-left:0px}
#PrBox44 p:first-child{font-weight:bold;}
#PrParallax{background-color:#00253d;margin-top:0px;height:450px;font-size:24px;padding:30px}
#contact{padding:50px 0;}
.img-circle{width:20%;}
.transbox2{border:none;opacity:1;}
.parallax{background-image:none;min-height:0px}
.parallax .col-9 p{text-align:center}
#PrParallaxLeft .col-3, .col-9{text-align:center;padding:0 50px;}
.img-circle{margin-left:0px}
#Pr1line{font-size:30px;padding:2px}
#PrFeatures header{padding:2px;padding-top:40px;text-align:center;height:157px;color:white}
#featuresBox{height:670px;text-align:center}
#PrCommonMainDiv{margin-bottom:44px}
#PrCommonBox{padding:0 40px;}
}
@media screen and (max-width:640px){body, .PrTopImage, .parallax{width:640px;}
p{font-size:16px;}
#PrMostPop{font-size:24px;}
#featuresBox{height:500px;}
#featuresBox section{height:100px;line-height:0px;text-align:center;margin-bottom:65px;}
#featuresBox section:first-child{height:50px;line-height:0px;}
#featuresBox section .col-12{font-size:28px;line-height:150%;height:50px;}
#tooltip{font-size:16px;}
#tooltip #tooltiptext2{line-height:20px;}
#PrBox22 a, #PrBox33 a, #PrBox44 a{font-size:20px;}
#appletree{padding-left:140px;}
}
@media screen and (max-width:414px){body, .PrTopImage, .parallax{width:414px;}
.banner-text{font-size:17px;}
#appletree{padding-left:45px;}
#appletree h2{font-size:40px;}
#appletree p{font-size:22px;}
}
@media screen and (max-width:384px){body, .PrTopImage, .parallax{width:384px;}
#featuresBox{height:500px;}
#featuresBox section{margin-bottom:80px;}
}
@media screen and (max-width:375px){body, .PrTopImage, .parallax{width:375px;}
#PrParallaxLeft .col-3, .col-9{padding:0;}
}
@media screen and (max-width:360px){body, .PrTopImage, .parallax{width:360px;}
.banner-text{font-size:16px;}
#appletree h2{font-size:34px;}
#appletree p{font-size:18px;}
}
@media screen and (max-width:320px){body, .PrTopImage, .parallax{width:320px;}
p{font-size:16px;}
#PrMostPop{font-size:24px;}
#featuresBox{height:500px;}
#featuresBox section{margin-bottom:80px;}
#featuresBox section:first-child{height:50px;line-height:0px;}
#tooltip{font-size:16px;}
#tooltip #tooltiptext2{line-height:20px;}
#PrBox22 a, #PrBox33 a, #PrBox44 a{font-size:16px;}
.banner-text{font-size:15px;}
#appletree{padding-left:30px;}
#featuresBox section .col-12{font-size:24px;}
}

.pseudo-nav {
	height: 90px;
}

.tc.col-lg-4 {
	padding-left: 45px;
	padding-right: 45px;
}


.section {
	margin-top: 40px;
}
h2.title {
	font-family: "Hiragino Sans GB", "STHeiti", "Microsoft Yahei", sans-serif;
	font-weight: 600;
	line-height: 2;
}

h5.price {
	font-family: "Hiragino Sans GB", "STHeiti", "Microsoft Yahei", sans-serif;
	font-weight: 600;
	line-height: 2;
	margin-bottom: 40px;
}
.button-secondary-f{
	color: #fff;
	background: #33ccff;
	border: 2px solid #33ccff;
}


.button-secondary-p, .button-secondary-e{
	background: #fff;
	color: #000;
    border: 2px solid #000;
}

.button-secondary-f, .button-secondary-p, .button-secondary-e{
    transition: .3s border ease-in-out, .3s color ease-in-out, .3s background ease-in-out;
}

.button-secondary {
	display: inline-block;
    font-family: "Gotham_SSm_5r", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: normal;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    padding: 16px 16px 15px;
    -webkit-font-smoothing: antialiased;
    padding-top: 13px;
    padding-bottom: 11px;
    display: block;
    max-width: 400px;
    line-height: 20px;
}

.button-secondary:visited, .button-secondary:active {
	text-decoration: none;
}

.button-secondary-f:hover {
	color: #fff;
    border: 2px solid #33ccff;
	text-decoration: none;
	background: #22bbee;
    border: 2px solid #22bbee;

}

.button-secondary-p:hover, .button-secondary-e:hover {
    color: #33ccff;
    border: 2px solid #33ccff;
	text-decoration: none;

}


.image {
	width: 240px;
}

.ul-s {
	padding-left: 0px;

}

.more {
	color: #000;
	text-decoration: none;
	border-bottom: 2px solid #33ccff;
	transition: .2s border ease-in-out, .2s color ease-in-out , .2s background ease-in-out;
}

.more:visited, .more:active, .more:hover {
	text-decoration: none;
	color: #33ccff;
}


.li-s {
	list-style-type: none;
	padding: 12px 0 10px;
    border-bottom: 1px solid #eee;
}

.links .li-s:first-child {
	padding: 22px 0 30px;
}