.fbicon{position:fixed;right:55px;bottom:150px;margin:0;padding:0;z-index:1000;}
.lineicon{position:fixed;right:55px;bottom:85px;margin:0;padding:0;z-index:1000;}
.fbicon img, .lineicon img {width:48px;height:48px}
@media (min-width: 992px){
  .fbicon{position:fixed;right:21px;bottom:150px;margin:0;padding:0;z-index:1000;}
  .lineicon{position:fixed;right:21px;bottom:85px;margin:0;padding:0;z-index:1000;}
}
