.Third {
    width: 100%;
    padding: 100px 0;
    margin: 0;
    text-align: center;
    letter-spacing: 1.2px;
    background-color: #ffffff;
    box-sizing: border-box;

    .features {
        .desktop {
            z-index: 100;
        }
    }

    li {
        font-size: 0.75rem;
    }
}

@media (min-width: 700px) {
    .Third {
        padding: 100px 0;
        margin: auto;
        .features {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: auto;
        }
    }
}

@media (min-width: 1024px) {
    .Third {
        max-width: 1024px;
    }
}

@media (min-width: 1400px) {
 .Third {
     .features {
         .desktop {
             transition: all .3s ease-in-out;
         }
         .desktop:hover {
             transform: scale(1.8);
         }
     }
 }   
}