.Third {
  width: 100%;
  padding: 0 0;
  margin: 100px 0;
  text-align: center;
  letter-spacing: 1.2px;
  background-color: #ffffff;
  box-sizing: border-box; }

@media (min-width: 760px) {
  .Third {
    padding: 0 3%; }
    .Third .features {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: auto; }
      .Third .features .row {
        width: 50%;
        margin: 0; } }

@media (min-width: 1240px) {
  .Third {
    padding: 0;
    max-width: 1024px;
    margin: auto; } }
