.subtitle-text-center{
  font-size: 23px;
  text-align: center;
  letter-spacing: 3px;
  font-weight: bold;
}
.img-center{
  display: block;
  margin: auto;
}
.important-ward{
  font-size: 18px;
  color: #ff0000;
}
.img-line{
  width: 50px;
}
.link-line, .link-line:hover{
  text-decoration: none;
  color: black;
  font-size: 1.5em;
}
#article-x .author-big, #article-x .author-image{
  text-align: center;
}
.red-word{
  color: #ff0000;
}
.green-word{
  color: #16e000;
}
.features-width{
  width: 50%;
}
.paragraph-size p{
  font-size: 1.4em;
}
