#footerbox2 hr{border:2px solid #33ccff;}
#footerbox2 .row .col-12{padding-left:16px;}
#footerbox .row .col-12{margin-left:16px}
.footerstyle>p:first-child strong{font-size:30px;}
.TP{padding-bottom:10px;font-size:12px;text-align:center;}