.Footer {
    width: 100%;
    padding: 50px 5% 3% 5%;
    background-color: rgb(238, 238, 238);
    color: #333;
    letter-spacing: 1px;
    text-align: center;

    &__second {
        margin-top: 36px;
        font-size: 10px;
        letter-spacing: 1px;
        font-weight: 100;

        a {
            text-decoration: none;
            color: #333;
        }

        a:hover {
            text-decoration: none;
            filter: drop-shadow(1px 4px 5px #cecece);
        }
    
        span {
            font-size: 10px;
            font-weight: 300;
            margin: 0;
        }

        hr {
            margin: 10px 0;
        }
    }

    h1 {
        padding: 0 5%;
        margin-bottom: 36px;
    }
    Button {
        display: flex;
        margin: 10px auto;
    }
}

@media (min-width: 1240px) {
    max-width: 1024px;
}