.SocialMedia {
  position: fixed;
  right: 5%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0 0 5px #FFF); }
  .SocialMedia a {
    width: 100%;
    height: 100%; }
  .SocialMedia img {
    width: 44px;
    height: 44px;
    margin-bottom: 20%; }

@media (min-width: 580px) {
  .SocialMedia {
    bottom: 2%; } }

@media (min-width: 1400px) {
  .SocialMedia {
    right: 2%; } }
